.menu {
  padding: 50px;
}

.menu table {
  width: 100%;
  min-width: 500px;
}

.menu th {
  text-align: left;
}

.menu td {
  font-weight: 900;
}

.menu tr {
  transition: 0.2s;
}

.menu tr:hover > :not(th) {
  color: #6aa57f;
  transition: 0.2s;
}

.menu td .description {
  font-size: 0.8em;
}

.menu .nav {
  position: fixed;
  margin: auto;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 70%;
  padding: 10%;
}

.menu .inner {
  background-color: red;
}
