.google-map {
  width: 100%;
  height: 30vh;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.contact ul {
  list-style-type: none;
  margin: 0;
}

.times {
  display: flex;
}

.days {
  padding: 0;
}

.contact-info .section {
  padding: 10px 0;
}

span.address {
  display: block;
}

.contact-info {
  min-width: 180px;
}

@media (min-width: 800px) {
  .desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .google-map {
    width: 70%;
    height: 44vh;
  }
}
