.app {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.main > * {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
}

.main .home {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .main > *:not(.home) {
    padding: 5% 5vw;
  }
}

a {
  text-decoration: none;
  color: #000;
}

:focus {
  outline: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
