.app {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.main > *:not(.home) {
  position: absolute;
  padding: 5% 30%;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
