body {
  margin: 0;
  font-family: 'Lato', 'Noto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Noto';
  src: url(/Emerald-Palace/fonts/NotoSerifTC-Light.otf);
  font-weight: 900;
  font-style: normal;
}
