.banner {
  position: fixed;
  margin: auto;
  top: 10%;
  left: 0;
  right: 0;
  background-color: #efefef;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
